body {
    
}
.fondo-ciudad {
    position:absolute;
    margin-top: 0px;
    padding: 0px;
    background-image: url(../img/ciudad-01.png);
    background-color: lemonchiffon;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
    height: 900px;
}
.posicion-helicoptero {
    margin-top:360px;
    margin-left:210px;
    width: 8%;
    height: 8%;

}
.posicion-iglesia {
    margin-top:-32px;
    margin-left:655px;
    width: 12%;
    height: 12%;
}
.posicion-museo {
    margin-top:42px;
    margin-left:442px;
    width: 25%;
    height: 25%;
}
.posicion-bici{
    margin-top:-240px;
    margin-left:515px;
    width: 2%;
    height: 2%;

}
